<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game</title>
    <script src="card.js"></script>
</head>
<body>
    <div class="container">
        Welcome At Card Game
    </div>
</body>
</html>